<link rel="stylesheet" href="style.css">
{{>header}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.11/css/weather-icons.css"
    integrity="sha512-WrHplq3TYPEkwmx3iOWybuK9tQ4oq6Qxff1aM48V2RI4CHPU3zBXebikfBsSf+/pMwc6vNUaMQLtwG7KUoP+kA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  
<section class="aboutsection container">
    <div class="about_img">
        <img  src="img/about.png"   />
    </div>
    <br><br>
    <div class="about_wrap">
        <div>
           <h2 class="about_title">Hellow, I am Mayur</h2> 
           <span class="about_subtitle">Web developer</span>
         <br><br><br><br>
                <span class="about_item"> ✔ I make the beautiful project by node.js  </span><br><br>
                <span class="about_item"> ✔ I make the responsive website for weather  </span><br><br>
                <span class="about_item"> ✔ This is totlay inspired by thapatechnical yout channel </span><br><br>
                <span class="about_item"> ✔ I make the website  specificically  as you want  </span><br><br>
 <br><br>
            <div class="phone">
                <span  >  PHONE : 8855964895</span> <br>
                <span >   EMAIL : kssmsslss330@gmail.com</span>
            </div>
          
       </div>
      
        
</section>
{{>script}}

 