

<body>
   {{>header}}

  <section class="main container ">
    <div class="home_banner  ">
      <div class="home_img">
        <div class="border"></div>
        <img src="img/nature.jpg" class="img" alt="">
      </div>
      <div class="home_data">
        <h2 class="home_title">Welcome to weather <br> webapp <br>
        </h2>
        <p class="home_desc">hellow friends here you can check the  tempreture ,speed ,time,pressure and weather status
        easily by city name.By click the button bellow, Thank you to visit this site!</p>
        <a href="/weather" class="button">cheak weather</a>
      </div>
    </div>
  </section>
      
 

{{>script}}
</body>

</html>